
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>inicio</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/fondos.css">

	</head>


	<body class="fondo">
	{% include 'header.html' %}
	{% block contenido %}
	{% endblock contenido%}
	{% include 'footer.html' %}
	</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
		
</html>
