<!DOCTYPE html>
<html>
<head>
	
	<title>Mi primera practica</title>
	<script type="angular/angular.min.js"></script>
	<meta charset="utf-8">
</head>
<body>
	{{"Hola quinto A"}}

	<div>
		<label>Nombre:</label>
		<input type="text" ng-model='nombreAngular'><br>

		<label>Apellidos:</label>
		<input type="text" ng-model='apellido'><br>

		<label>Cédula:</label>
		<input type="text" ng-model='cedula'><br>

		<label>Tu estas ingresando el nombre: {{nombreAngular}} {{apellidos}} con el numero de cedula {{cedula}}</label>
	</div>
</body>
</html>